h1 {
    color: #6c5b7b;
    font-family: fantasy;
    font-size: 200%;
}

.header {
    background-color: #C8C8FF;
    display: flex;
    justify-content: space-between;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer {
    display: flex;
    justify-content: flex-end;
}

p, h2 {
    text-align: center;
    font-family: cursive;
    color: #355c7d;
}
body {
    background-color: #C06c84;
}
.menu {
    font-family: fantasy;
}